html{
  height: 100%;
  font-family: "Montsserrat";

  display: grid;
  align-items: center;
  justify-items: center;

  --bg: #fcfcfc;
  --bg-panel: #ebebeb;
  --color-headings: #0077ff;
  --color-text: #333333;
  
}